.article-content {
    &__header {
        text-align: center;
        .header {
            &__thumbnail {
                margin: 0 -10px 15px;
                @include breakpoint(360px) {
                    margin: 0 -15px 15px;
                }
            }
            &__title, &__date-publish {
                @include breakpoint (768px){
                    max-width: 640px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &__title {
                margin-bottom: 5px;
                
                h1 {
                    font-weight: bold;
                    line-height: 23px;
                    font-size: 16px;
                    letter-spacing: 0.25em;
                    text-transform: uppercase;
                    @include breakpoint(360px) {
                        line-height: 26px;
                        font-size: 18px;
                    }
                    @include breakpoint(768px) {
                        line-height: 29px;
                        font-size: 20px;
                    }
                    @include breakpoint(1200px) {
                        line-height: 35px;
                        font-size: 24px;
                    }
                }
            }
            &__date-publish {
                margin-bottom: 25px;
                small {
                    line-height: normal;
                    font-size: 12px;
                    color: $grey666;
                    @include breakpoint(768px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &__content {
        margin: 25px 0;
        line-height: 25px;
        font-size: 14px;
        text-align: justify;
        @include breakpoint (768px){
            font-size: 16px;
            line-height: 29px;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            margin-bottom: 15px;
            text-indent: 35px;
            a.img-link {
                text-indent: 0;
                display: block;
                margin: 25px -10px 20px;
                @include breakpoint(360px) {
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
            a {
                font-style: italic;
                color: #8c8c8c;
            }
        }
    }
    &__footer {
        text-align: center;
        .footer {
            &__title {
                line-height: normal;
                color: $grey666;
                font-size: 14px;
                margin-bottom: 10px;
                @include breakpoint (768px){
                    font-size: 16px;
                }
            }
        }
        .tag {
            &__item {
                display: inline-block;
                padding: 5px 12px;
                border: 1px solid $black;
                border-radius: 15px;
                text-decoration: none;
                color: $black;
                margin: 0 4px 10px;
                transition: background, color 0.2s ease-in-out;
                @include breakpoint (768px){
                    font-size: 16px;
                }
                &:hover {
                    color: $white;
                    background: $black;
                }
            }
        }
    }
}